:root{
  --color: #d0d0d0;
  --black: black;
  --white: white;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0px;
  background-color: var(--black);
  color: var(--color);
  text-decoration: none;
  overflow: hidden;
  font-size: small;
}
main {
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}


a {
  color: var(--color);
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  max-width: 76px;
  margin: 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  align-items: center;
}

a.selected {
  background-color: var(--black);
}

span {
  margin-right: 8px;
  margin-left: 2px;
}

a:hover {
  background-color: #111111
}

.m-button {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.m-button:hover {
  background-color: #e0e0e0;
}

a.ex-button {
  color: black;
  background-color: white;
  border: 1px solid black;
  max-width: 80px;
  min-height: 30px;
  align-items: center;
  border-radius: 15px;
}

a.ex-button:hover {
  background-color: #e0e0e0;
}

a.full-button {
  max-width: none;
}

div.rm {
  background-color: #1d1d1d;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  max-width: min-content;
  align-content: center;
  text-align: center;
  border: 1.5px solid #2f2f2f;
}

a.round-buttons {
  padding: 5px 10px;
  border-radius: 50px;
  background-color: var(--black);
}

span.round-buttons {
  margin-right: 0px;
  margin-left: 0px;
}

div.titlebar {
  position: top;
  width: 100vw;
  height: 30px;
  position: sticky;
  margin: 0px;
  background-color: #151515;
}

aside {
  background-color: #151515;
  height: 100vw;
  position: right;
  width: 200px;
  border-right: 1px solid #2f2f2f;
  display: flex;
  flex-direction: column;
}

p.title {
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
}

div {
  align-content: center;
}
