body {
  font-family: 'Inter', sans-serif;
  margin: 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

}


a {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 6px 16px;
  display: flex;
  font-size: 1x;
  max-width: 76px;
  margin: 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  align-items: center;

}

a:hover {
  background-color: #111111
}

.navbar {
  background-color: black;
  border-radius: 20px;
  padding: 0px;
  flex-direction: row;
  display: flex;
}

.navbar a {
  background-color: lrgb(35, 35, 35);
  margin: 10px;

}

.m-button {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.m-button:hover {
  background-color: #e0e0e0;
}

.ex-button {
  color: black;
  background-color: white;
  border: 1px solid black;
  size: 20px;
  min-width: 80px;
  min-height: 40px;
  align-items: center;
}

.ex-button:hover {
  background-color: #e0e0e0;
}

div.rm {
  background-color: #1d1d1d;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  max-width: min-content;
  align-content: center;
  text-align: center;
  border: 1.5px solid #2f2f2f;
}

a.round-buttons {
  padding: 10px 10px;
  border-radius: 50px;
}