
a.active {
  background-color: var(--black);
}

a:hover {
  background-color: #2f2f2f;
}

a.m-button {
  color: black;
  background-color: white;
  border: 1px solid black;
}

a.m-button:hover {
  background-color: #e0e0e0;
}

a.ex-button {
  color: black;
  background-color: white;
  border: 1px solid black;
  max-width: 80px;
  min-height: 30px;
  align-items: center;
  border-radius: var(--border-radius-extended-fab);
}

a.ex-button:hover {
  background-color: #e0e0e0;
}

a.full-button {
  max-width: none;
}

div.rm {
  background-color: #1d1d1d;
  padding: 20px;
  border-radius: var(--border-radius-div);
  margin: 20px;
  max-width: min-content;
  align-content: center;
  text-align: center;
  border: 1.5px solid #2f2f2f;
}

a.round-buttons {
  padding: 5px 10px;
  border-radius: var(--border-radius-round-buttons);
  background-color: var(--black);
}

span.round-buttons {
  margin-right: 0px;
  margin-left: 0px;
}

div.titlebar {
  position: top;
  width: 100vw;
  height: 30px;
  position: sticky;
  margin: 0px;
  background-color: #151515;
}


p.title {
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
}

.page.active {
  padding: 20px;
  display: flex;
  flex-grow: 1;
  height: 100%;
  border-top-left-radius: var(--border-radius-div);
  background-color: var(--black);
  border: 1px solid var(--border-color);
}