body {
    /* Color and text */
    font-family: 'Inter', sans-serif;
    background-color: var(--black);
    color: var(--color);
    text-decoration: none;

    display: flex;
    flex-direction: column;

    overflow: hidden;
    font-size: small;
    margin: 0px;
}

main {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

a {
    text-decoration: none;
    color: var(--color);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    max-width: 76px;
    margin: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    align-items: center;
}

span {
    margin-right: 8px;
    margin-left: 2px;
}

aside {
    background-color: #151515;
    height: 100vw;
    position: right;
    width: 200px;
    border-right: 1px solid #2f2f2f;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.page {
    display: none;
}

div {
    align-content: center;
}