:root {

  /* Color */
    --color: #d0d0d0;
    --black: black;
    --white: white;
    --background-color: #151515;
    --border-color: #2f2f2f;

    /* Border radius */
    --border-radius-a: 10px;
    --border-radius-extended-fab: 15px;
    --border-radius-round-buttons: 50px;
    --border-radius-div: 20px;
    --border-radius-input: 10px;

    /*  */



  }